<h1>Home</h1>

<h1>code I might use</h1>

% sum_home = 0  %>
% sum_away = 0  %>
% sum_empate = 0  %>
%= line_chart [
  { name: @home.name, data: @matches.where(result: @home.name).group_by_year(:date).count.map { |x,y| { x => (sum_home += y)} }.reduce({}, :merge), curve: false, points: false},
  { name: @away.name, data: @matches.where(result: @away.name).group_by_year(:date).count.map { |x,y| { x => (sum_away += y)} }.reduce({}, :merge), curve: false, points: false},
  { name: "Empate", data: @matches.where(result: "Empate").group_by_year(:date).count.map { |x,y| { x => (sum_empate += y)} }.reduce({}, :merge), curve: false, points: false}
] %>
% end %>
