<div class="container">
  <h1>Sobre o Doze Grandes</h1>
  <p>O Doze Grandes foi criado por mim, Antônio Florêncio de Queiroz Neto, desenvolvedor web júnior, inspirado no antigo
  Futpédia, da globo.com.
  </p>
  <p>Muita gente ficou órfão da Futpedia. Era um projeto sensacional. Imagino que o trabalho de mante-la atualizada
  não compensava, então acabou. Desde então, tenho vontade de recria-la.</p>
  <p>Claro, o Doze Grandes não tem o mesmo tamanho nem a profundidade que a Futpédia tinha, mas quem sabe no futuro?</p>
  <p>O Doze Grandes foi desenvolvido em cerca de um mês usando Ruby on Rails, com um toque de JavaScript,
  como meu primeiro projeto pessoal após aprender a programar.</p>
  <p>Dúvidas, sugestões e contato: antoniofqn@hotmail.com</p>
  <br>

  <h1>Sobre o Criador</h1>
  <p>Como dito acima, me chamo Antônio e sou um web developer júnior</p>
  <p>Estou a procura do meu primeiro emprego na área</p>
  <p>Fiz o bootcamp de web development da Le Wagon. Batch #882 - Rio de Janeiro</p>
  <p>Prefiro back end a front, mas conheço ambos</p>
  <p>Meu stack é: Ruby (& Rails), HTML, CSS, Bootstrap, JavaScript, SQL (& PostgreSQL), git, REST e Heroku</p>
  <p>Minhas redes sociais:</p>
  <p><a href="https://www.linkedin.com/in/antoniofqn" target="_blank">Linkedin</a> e <a href="https://  www.github.com/Antoniofqn" target="_blank">GitHub</a></p>

</div>
